<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <ul class="nav-bar">
        <li> Bienvenue, {{ session['user_nom'] }} </li>
        <li> <a href="{{ url_for('visualisation') }}">Statistiques</a> </li>
        <li> <a href=" /profile/{{ session['user_id'] }} ">Profile</a> </li>
        <li> <a href="{{ url_for('logout') }}" onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?')">Logout</a> <br> </li>
    </ul>
    
    <h2>les qeustionnaires</h2>

    <table>
        <tr>
            <th>intitulé du cours</th>
            <th>remplire</th>
        </tr>
        
        {% for cour in cours %}
        <tr>
            <td>{{ cour[1] }}</td>
            <td>
            {% if cour[0] in evaluated_courses %}
            <button class="button_remplire disabled">Évalué</button>
            {% else %}
            <button class="button_remplire"><a href="/formulaire_cours/{{ cour[0] }}">Remplir le questionnaire</a></button>
            {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>