<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Login</title>
</head>
<body>
    <div class="container_login">

        <h2>Login</h2>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" id="email" name="email" placeholder="email" value="{{ request.form['email'] if request.form.get('email') else '' }}" required>
        <br>

        <input type="password" id="mot_de_pass" name="mot_de_pass" placeholder="mot de pass" required>
        <br>

        <button type="submit" class="button_login">Login</button> <br>
        Vous n'avez pas de compte ? <a href="{{ url_for('login') }}" style="color: #345c3f; font-weight: bold;"> Créez-en un.</a>
    </form>
    </div>
    
</body>
</html>