<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Modifier profile</title>
</head>
<body>
    <div class="container_signup">
        <h2>Modifier profile</h2>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/modifier_profile/{{ user_data[0] }}">
        <input type="hidden" name="ancien_matricule" value="{{ user_data[0] }}" >

        <input type="text" id="matricule" name="matricule" placeholder="Matricule" value="{{ user_data[0] }}" required>
        <br>

        <input type="text" id="nom" name="nom" placeholder="Nom" value="{{ user_data[1] }}" required>
        <br>

        <input type="text" id="prenom" name="prenom" placeholder="Prénom" value="{{ user_data[2] }}" required>
        <br>

        <input type="hidden" name="ancien_email" value="{{ user_data[3] }}" >

        <input type="email" id="email" name="email" placeholder="Email" value="{{ user_data[3] }}" required>
        <br>

        <label for="code_dep">departement :</label><br>
        <select name="code_dep">
            {% for departement in departements %}

                {% if departement[1] == user_data[4] %}
                <option value="{{ departement[0] }}" selected> {{ departement[1] }} </option>
                {% else %}
                <option value="{{ departement[0] }}" > {{ departement[1] }} </option>
                {% endif %}

            {% endfor %}
        </select>
        <br> <br>

        <button type="submit" class="button_modifier">Modifier</button>
    </form>
    </div>
    
</body>
</html>