<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container_signup">
        <h2>Sign Up</h2>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('signup') }}">
        <input type="text" id="matricule" name="matricule" placeholder="Matricule" value="{{ request.form['matricule'] if request.form.get('matricule') else '' }}" required>
        <br>

        <input type="text" id="nom" name="nom" placeholder="Nom" value="{{ request.form['nom'] if request.form.get('nom') else '' }}" required>
        <br>

        <input type="text" id="prenom" name="prenom" placeholder="Prénom" value="{{ request.form['prenom'] if request.form.get('prenom') else '' }}" required>
        <br>

        
        <input type="email" id="email" name="email" placeholder="Email" value="{{ request.form['email'] if request.form.get('email') else '' }}" required>
        <br>

        <label for="code_dep">departement :</label><br>
        <select name="code_dep">
            {% for departement in departements %}
            <option value="{{ departement[0] }}"> {{ departement[1] }} </option>
            {% endfor %}
        </select>
        <br> <br>

        <input type="password" id="mot_de_pass" name="mot_de_pass" placeholder="Mot de pass" required>
        <br>

        <input type="password" id="confirm_mot_de_pass" name="confirm_mot_de_pass" placeholder="confirmer Mot de pass" required>
        <br>

        <button type="submit" class="button_signup">Sign Up</button> <br/><br>
        avez un compte ? <a href="{{ url_for('login') }}" style="color: #345c3f; font-weight: bold;"> Connectez-vous</a>
    </form>
    </div>
    
</body>
</html>